<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
        
   <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="ErpConnStr" connectionString="User Id=hs;Password=tts0001;Data Source=172.18.5.72:1521/orcl;" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TTS.SelfServiceEquipment.Fetch.Web-20150902091850;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TTS.SelfServiceEquipment.Fetch.Web-20150902091850.mdf"/>-->
  </connectionStrings>
  <appSettings>
    <!--系统流水号-->
    <add key="SysTraceNum" value="22"/>
    <!--批次号-->
    <add key="BatchNo" value="3010"/>
    <!--通联配置-->
    <!--银行IP地址-->
    <add key="BankIp" value="116.228.223.216"/>
    <!--端口-->
    <add key="BankPort" value="10021"/>
    <!--TPDU-->
    <add key="TPDU" value="6000080000"/>
    <!--消息头-->
    <add key="MsgHead" value="600200000000"/>
    <!--终端编号-->
    <!--<add key="TerminalNo" value="00000005"/>-->
    <!--商户代码-->
    <add key="MerchantCode" value="821320141310000"/>
    
    <!--浙江银联配置-->
    <!--银行IP地址-->
    <!--<add key="BankIp" value="101.231.72.111" />-->
    <!--端口-->
    <!--<add key="BankPort" value="8585" />-->
    <!--TPDU-->
    <!--<add key="TPDU" value="6004010000"/>-->
    <!--消息头-->
    <!--<add key="MsgHead" value="603100000000"/>-->
    <!--商户代码-->
    <!--<add key="MerchantCode" value="001376041310001"/>-->

    <!--银行IP地址-->
    <!--<add key="BankIp" value="101.231.72.111" />-->
    <!--端口-->
    <!--<add key="BankPort" value="8585" />-->
    <!--TPDU-->
    <!--<add key="TPDU" value="6004010000"/>-->
    <!--消息头-->
    <!--<add key="MsgHead" value="603100000000"/>-->
    <!--商户代码-->
    <!--<add key="MerchantCode" value="001376041310001"/>-->
    <!--
      支付平台：
      [ ChinaUnionPay | 银联支付 ]
      [ AllInPay | 通联支付 ]
      [ BankOfCangzhou | 沧州银行 ]
    -->
    <add key="PaymentPlatForm" value="AllInPay"/>
  </appSettings>
  <system.serviceModel>
    <client/>
    <services>
      <!--银联卡支付服务-->
      <service name="LsPay.Service.Wcf.Service.PayService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://172.18.14.64:7809/"/>
          </baseAddresses>
        </host>
        <endpoint address="PayService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="LsPay.Service.Wcf.Contract.IPayService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <!--银联卡支付预处理服务-->
      <service name="LsPay.Service.Wcf.Service.PayPreTreatmentService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://172.18.14.64:7808/"/>
          </baseAddresses>
        </host>
        <endpoint address="PayPreTreatmentService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="LsPay.Service.Wcf.Contract.IPayPreTreatmentService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <!--支付宝支付服务-->
      <service name="LsPay.Service.Wcf.Service.AliPayService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://172.18.14.64:7810/"/>
          </baseAddresses>
        </host>
        <endpoint address="AliPayService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="LsPay.Service.Wcf.Contract.IAliPayService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <!--微信支付服务-->
      <service name="LsPay.Service.Wcf.Service.WxPayService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://172.18.14.64:7811/"/>
          </baseAddresses>
        </host>
        <endpoint address="WxPayService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="LsPay.Service.Wcf.Contract.IWxPayService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceBinding" openTimeout="00:03:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="6553600">
          <readerQuotas maxStringContentLength="6553600"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceThrottling maxConcurrentSessions="20"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
